{% extends "layout.html.twig" %}

{% block content %}
    <center><h1>Lista de Produtos cadastrados</h1></center> <br/>

    <ul>
        {% for produto in list %}
            <li>{% if (produto.preco is not null) %}R${{ produto.preco }} {% else %}<b>Não Disponível</b>{% endif %} | {{ produto.produto }}</li>
        {% endfor %}
    </ul>
{% endblock %}
